@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-merriweather);
}

body {
  background: #ffffff;
  color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-merriweather), Georgia, serif;
}

p{
  font-family: "Urbanist";
}